---
import Main from "../components/Main";
import Layout from "../layouts/Layout.astro";
---

<Layout title="AHP Decision Model - Electric Car">
    <main class="w-screen min-h-screen overflow-hidden lg:overflow-auto">
        <div class="w-full min-h-full">
            <Main client:load />
        </div>
    </main>
</Layout>
